<div class="container">
  <!--This component html does not work-->
  <!--<app-meal></app-meal>-->
  <app-user-profile></app-user-profile>
  <h1>
    Meals
  </h1>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Meals">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Timestamp Column -->
    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.timestamp}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <br />
  <p>Click on a meal below to see more detailed information.</p>
  <div class="card">
    <ul *ngFor="let meal of meals" class="list-group list-group-flush">
      <li class="list-group-item" (click)="showMeal(meal)" style="cursor:pointer">{{meal.name}}</li>
    </ul>
  </div>
  <hr />
  <h3>More Info</h3>
  <mat-form-field>
    <input matInput placeholder="Timestamp" type="text" [(ngModel)]="selectedMeal.timestamp" disabled />
  </mat-form-field><br />
  <mat-form-field>
    <input matInput placeholder="Name" type="text" [(ngModel)]="selectedMeal.name" />
  </mat-form-field><br />
  <mat-form-field>
    <mat-select placeholder="Category" [(ngModel)]="selectedMeal.category">
      <mat-option *ngFor="let category of categories" value={{category}}>{{category}}</mat-option>
    </mat-select>
  </mat-form-field><br />
  <mat-form-field>
    <input matInput placeholder="Price" type="text" [(ngModel)]="selectedMeal.price" />
  </mat-form-field><br />
  <mat-form-field>
    <input matInput placeholder="Notes" type="text" [(ngModel)]="selectedMeal.notes" />
  </mat-form-field><br />
  <button *ngIf="selectedMeal.id != null" (click)="updateMeal()" mat-stroked-button color="primary">Update</button>
  <button *ngIf="selectedMeal.id == null" (click)="createMeal()" mat-stroked-button color="primary">Create</button>
  <button *ngIf="selectedMeal.id != null" (click)="deleteMeal()" mat-stroked-button color="primary">Delete</button>
</div>

<router-outlet></router-outlet>