<div class="example-container" style="text-align:center; padding-top:100px">
    <h1>Login</h1> <br>
    <h2>Current User: {{user.name}}</h2>
    <mat-form-field>
      <input matInput [(ngModel)]="username" placeholder="Username"> 
    </mat-form-field> <br>
    <mat-form-field>
        <input matInput type="password" [(ngModel)]="password" placeholder="Password"> 
    </mat-form-field> <br>
    <button (click)="authenticate(username, password)" mat-stroked-button color="primary">Login</button>
  </div>