/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

button {
    margin-right:1em !important;
}

table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.container {
    margin-top:1em;
    margin-bottom:1em;
}

.mat-form-field-infix {
    width: 20em !important;
}